.l-faq {
	position: relative;
	background-color: #f5f5f5;
	margin-top: -160px;

	.icon-down {
		width: 42px;
		height: 42px;
		background-color: $yellow;
		color: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 1;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}

	.accordion {
		margin: 60px 0;

		.card, .card-header, .card-body{
			border: none;
			background-color: none;
		}

		.card-header, .card-body {
			padding-left: 0;
			background-color: #f5f5f5;
		}

		.card-header .btn-link {
			opacity: 0.9;
			color: #18191b;
			font-size: 24px;
			font-weight: 500;
			padding-left: 0;
			text-decoration: none;
			text-align: left;

			@media screen and (max-width: 425px) {
				font-size: 20px;
			}

			&.collapsed {
				opacity: 0.67;
			}
		}

		.card-body {
			color: #18191b;
			font-size: 16px;
			line-height: 28px;
		}

		& > .card:not(:last-child) {
			border-bottom: 1px solid rgba(0, 0, 0, 0.13) !important;
		}
	}

}