<footer class="bg-dark mb-1" style="color: white">
<div class="row ">
           <div class="col">
               <div class="card-body">
                   <h5 class="card-title">Gabi-express</h5>
                   <div class="card-text">
                       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quas unde voluptas.</p>
                   </div>
               </div>
           </div>
           <div class="col">
               <div class="card-body">
                   <h5 class="card-title">Lien utile</h5>
                   <div class="card-text">
                       <p><a href="">Comment ça marche</a></p>
                       <p><a href="">Besoin d'aide</a></p>
                       <p><a href="">Conditions d'utilisation </a></p>
                       <p><a href="">Privacy</a></p>
                   </div>
               </div>
           </div>
           <div class="col">
               <div class="card-body">
                   <h5 class="card-title">sitemap </h5>
                   <div class="card-text">
                    <p><a href="">Accueil</a></p>
                    <p><a href="">A propos de nous</a></p>
                    <p><a href="">Contacts</a></p>
                    <p><a href="">Press</a></p>
                    <p><a href="">Job</a></p>
                   </div>
               </div>
           </div>
           <div class="col mr-2">
               <div class="card-body">
                   <h5 class="card-title">Newsletter </h5>
                   <div class="card-text">
                       <p> Vous informez sur les dernières offres.</p>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="text" placeholder="Adresse email" aria-label="Ajouter">
                        <button class="btn btn-outline-success my-2 my-sm-0" style="background-color: red;" type="submit">Ok</button>
                    </form>

                   </div>
               </div>
           </div>
 </div>
</footer>
<div class="mt-1  text-center">
<p class="coprying pt-2">©Designed by @gabi-express. All right reserved. </p>
  </div>
