    <div id="l-top-bar" class="l-top-bar">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul class="top-info">
                <li>
                  <i class="fas fa-phone fa-flip-horizontal"></i> 1850.457.4216
                </li>
                <li>
                  <i class="far fa-envelope"></i>
                  <a href="mailto:hello@yourcompany.com"
                    >hello@yourcompany.com</a
                  >
                </li>
              </ul>

              <ul class="top-social-networks">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>