{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- Page Title -->
    <title>Share - Gabi Express</title>

  </head>
  <body>

    <!-- BEGIN HEADER -->
    <header class="l-header">
      <div id="l-nav" class="l-nav">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="navbar navbar-expand-md navbar-light">
              
                <a class="navbar-brand" href="{{ path ('home')}}">
                  <img src="img/logo-grand.png" class="img-fluid">
                </a>	
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto py-4 py-md-0">
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                      <a class="nav-link" href="{{ path ('help')}}">Aide</a>
                    </li>
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon compte</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Recommander un ami</a>
                        <a class="dropdown-item" href="#">Mes transactions</a>
                        <a class="dropdown-item" href="#">Mon profil</a>
                      </div>
                    </li>
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">EN</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">FR</a>
                      </div>
                    </li>
                    <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                      <a class="nav-link nav-cart" data-cart="2" href="#">
                        <i class="fas fa-cart-arrow-down"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>		
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- END HEADER -->

    <!-- BEGIN MAIN CONTENT -->
    <main class="l-main">
      <section class="l-banner">
        <div class="container">
          <div class="custom-title text-white">Recommandez des amis</div>
          <p class="custom-text text-white">Invitez vos amis et gagnez de l’argent</p>
        </div>
      </section>

      <div class="l-share-block mount-grey">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="share-link-parent">
                <img src="img/share-img.png" class="img-fluid" alt="">
                <div class="share-link">
                  <h2 class="share-link-title text-center">Partagez le lien</h2>
                  <p class="text-description text-center">Copiez le lien, partagez-le et gagnez de l'argent</p>
                  <br>
                  <form>
                    <div class="form-group">
                      <input type="text" class="form-control form-control-lg" id="link" readonly="readonly" placeholder="Copiez le lien">
                    </div>
                    <button type="button" class="btn btn-lg btn-primary">Copier le lien</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <br>
          <h2 class="share-block-title">Statistiques</h2>
          <br>
          <div class="row">
            <div class="col-md-4">
              <div class="card-custom info">
                <h3 class="card-info-title">Tous vos gains</h3>
                <p class="card-info-montant">2.500 Fcfa</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-custom info">
                <h3 class="card-info-title">Déjà dépensé</h3>
                <p class="card-info-montant">2.000 Fcfa</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-custom info">
                <h3 class="card-info-title">Disponible</h3>
                <p class="card-info-montant pink">500 Fcfa</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

  </body>
</html>
{% endblock %}
