@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font: "Montserrat", Arial, Helvetica, sans-serif;

// = Colors
// -----------------------------

// Graphic chart
$pink: #ed3f4e;
$yellow: #ffd521;
$blue: #366ed8;
$blue_hover: #284f97;
$dark: #181a1c;
