.btn-fullcolor {
  background-color: $yellow;
  border: none;
  color: #000;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #eec81f;
    color: #000;
  }
}

.btn-center {
  display: flex;
  width: 100%;
  justify-content: center;
}
